#select-container {
  width: 300px;
}

.select-box {
  height: 45px;
  background-color: rgb(38, 39, 40);
  border: 1px solid #e0993a;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.select-options {
  height: 40px;
  width: 90%;
  cursor: pointer;
  background-color: rgb(38, 39, 40);
  border: 1px solid #e0993a;
  border-radius: 8px;
  display: flex;
  transition: all 0.2s ease;
  align-items: center;
  justify-content: center;
}
.select-options:hover {
  width: 100%;
}
#movielist {
  opacity: 0;
  transition: all 0.9s ease;
}

#movielist.show {
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;

  border: 1px solid #e0993a;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e0993a;
  color: black;
}
tr:nth-child(odd) {
  background-color: rgb(38, 39, 40);
}

#tableContainer {
  min-height: 400px;
  animation: scroll 0.8s linear;
  width: 60%;
}
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.flex-row {
  flex-direction: row;
}
@keyframes scroll {
  0% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(0);
  }
}
.tb-footer {
  background: rgb(170, 165, 165) !important;
  color: black;
}

@media (max-width: 450px) {
  .main-header .brand {
    width: 95%;
  }
  #tableContainer {
    width: 95%;
  }
  .container {
    padding: 0 4%;
  }
  .content{
    justify-content: center;
  }
}
