@font-face {
  font-family: DINMedium;
  src: url("../public/fonts/DIN_Medium.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #aaa;
  list-style: none;
  box-sizing: border-box;
  font-family: "DINMedium", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider {
  height: 300px;
  width: 80%;
  background-image: url("../public/galaxy.jpg");
}
.main-header {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.container {
  padding: 0 10%;
}
.home {
  padding-bottom: 90px;
}
#openingcrawl h4 {
  line-height: 200%;
}

